kumuluzee:
  name: uporabniki-service
  env:
    name: dev
  version: 1.0.0
  cors-filter:
    annotations:
      my-resource:
        allow-origin: "http://kumuluz.com"
        allow-subdomains: false
  server:
    base-url: http://40.76.175.239/uporabniki
  datasources:
    - jndi-name: jdbc/UporabnikiMetadataDS
      connection-url: jdbc:postgresql://uporabniki-db.postgres.database.azure.com:5432/postgres?user=postgresAdmin&password=UporabnikiDBPass123&sslmode=require
      username: postgresAdmin
  health:
    checks:
      data-source-health-check:
        type: liveness
        jndi-name: jdbc/UporabnikiMetadataDS
    metrics:
      web-instrumentation:
        - name: uporabniki-endpoint
          url-pattern: /v1/uporabniki/*
  rest-client:
    registrations:
      - class: uporabniki-processing-api
        url: http://20.120.65.121:8083/v1
        read-timeout: 5000
rest-properties:
  maintenance-mode: false
  broken: false
app-properties:
  amazon-rekognition:
    access-key:
    secret-key: